html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.btn {
  display: flex;
  margin-top: 10px;
  max-width: 700px;
  cursor: pointer;
  font-size: 1.3em;
  color: white;
  border-radius: 10px;
  background: linear-gradient(to bottom, #11cec4, #102b27);
}
